






{{>navigation2}}


                
                
                
                
                
                
                
                
                {{!-- Desde aqui se pone todo el contenido --}}

{{#each notas}}

<form method="post" action="/updateNotaP1" >
        
        <div class="card">
            <div class="card-header">
                Editar Notas
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    {{apellidos}} {{nombres}}
                </h4>
                <p class="card-text">

                   

                    <!--AL ID SE LE ESCONDE
                    con el atributo
                    type="hidden"-->
                    <input type="hidden" value="{{id_user}}" name="id_user" id="id_user">
                    <input type="hidden" value="{{id_curso}}" name="id_curso" id="id_curso">
                    <input type="hidden" value="{{id_materia}}" name="id_materia" id="id_materia">
                    
                    <div class="form-group">
                        <label for="nota1">Nota 1</label>
                        <input id="nota1" value="{{nota1}}" class="form-control" type="number" step=".01" min="0" max="10" name="nota1">
                    </div>

                    <div class="form-group">
                        <label for="nota2">Nota 2</label>
                        <input id="nota2" value="{{nota2}}" class="form-control" type="number" step=".01" min="0" max="10" name="nota2">
                    </div>

                    <div class="form-group">
                        <label for="nota3">Nota 3</label>
                        <input id="nota3" value="{{nota3}}" class="form-control" type="number" step=".01" min="0" max="10" name="nota3">
                    </div>
                    
                    <div class="form-group">
                        <label for="nota4">Nota 4</label>
                        <input id="nota4" value="{{nota4}}" class="form-control" type="number" step=".01" min="0" max="10"  name="nota4">
                    </div>

                    <div class="form-group">
                        <label for="nota5">Nota 5</label>
                        <input id="nota5" value="{{nota5}}" class="form-control" type="number" step=".01" min="0" max="10" name="nota5">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Editar" class="btn btn-success">
                        <a href="/gestionNotasPrimerParcial/{{id_curso}}/{{id_materia}}" class="btn btn-primary">Regresar</a>
                    </div>
                
            

                </p>
            </div>
        </div>
        
    </form>

{{/each}}
                {{!-- Hasta aqui xd --}}
            
            
            
            
            
            
            
            
            
           {{>endnavigation2}}






































    
                        
                                
                
                
                
                
                
                
                {{!-- Desde aqui se pone todo el contenido --}}


                    

                


            
            
            
            


   

































