{{>navigation2}}
                
                {{!-- Desde aqui se pone todo el contenido --}}
<table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Nombre</th>
                <th>N1</th>
                <th>N2</th>
                <th>N3</th>
                <th>N4</th>
                <th>N5</th>
                <th>Promedio P1</th>
            </tr>
        </thead>
        <tbody>
            {{#each notas}}
            <tr>
                <td>{{apellidos}} {{nombres}} 
                    <br>
                    <a href="/editarNotaPrimerParcial{{id_user}}{{id_curso}}{{id_materia}}" class="btn btn-warning">
                        Editar
                    </a> 
                </td>
                <td>{{nota1}}</td>
                <td>{{nota2}}</td>
                <td>{{nota3}}</td>
                <td>{{nota4}}</td>
                <td>{{nota5}}</td>
                <td>{{promedio1}}</td>
                
                
            </tr>    
            {{/each}}
            
        
        </tbody>
    </table>

                {{!-- Hasta aqui xd --}}
            
            
            
            
            
            
            
            
            
            </div>
        </div>
    </section>

    <!-- Notifications area -->
{{>endnavigation2}}





































    
                        
                                
                
                
                
                
                
                
                {{!-- Desde aqui se pone todo el contenido --}}


                    

                


            
            
            
            


   

































