






{{>navigation2}}    <!-- Content page-->
    
                
                            
                
                
                
                
                
                
                {{!-- Desde aqui se pone todo el contenido --}}
<table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Nombre</th>
                <th>N1</th>
                <th>N2</th>
                <th>N3</th>
                <th>N4</th>
                <th>N5</th>
                <th>Promedio P2</th>
            </tr>
        </thead>
        <tbody>
            {{#each notas}}
            <tr>
                <td>{{apellidos}} {{nombres}} 
                    <br>
                    <a href="/editarNotaSegundoParcial{{id_user}}{{id_curso}}{{id_materia}}" class="btn btn-warning">
                        Editar
                    </a> 
                </td>
                <td>{{nota6}}</td>
                <td>{{nota7}}</td>
                <td>{{nota8}}</td>
                <td>{{nota9}}</td>
                <td>{{nota10}}</td>
                <td>{{promedio2}}</td>
                
                
            </tr>    
            {{/each}}
            
        
        </tbody>
    </table>

                {{!-- Hasta aqui xd --}}
            
            
            
            
            
            
            
            
            
            </div>
        </div>
    </section>

    <!-- Notifications area -->



    <!-- Notifications area -->
{{>endnavigation2}}






































    
                        
                                
                
                
                
                
                
                
                {{!-- Desde aqui se pone todo el contenido --}}


                    

                


            
            
            
            


   

































