






{{>navigation2}}

   
                
                
                
                
                
                
                
                
                
                {{!-- Desde aqui se pone todo el contenido --}}
<table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Nombre</th>
                <th>Nota Examen</th>
                <th>Promedio Final</th>
            </tr>
        </thead>
        <tbody>
            {{#each notas}}
            <tr>
                <td>{{apellidos}} {{nombres}} 
                    <br>
                    <a href="/editarNotaExamen{{id_user}}{{id_curso}}{{id_materia}}" class="btn btn-warning">
                        Editar
                    </a> 
                </td>
                <td>{{examen}}</td>
                <td>{{promedio_f}}</td>
                
                
                
            </tr>    
            {{/each}}
            
        
        </tbody>
    </table>

                {{!-- Hasta aqui xd --}}
            
              </div>
        </div>
    </section>
            
            
            
            

{{>endnavigation2}}






































    
                        
                                
                
                
                
                
                
                
                {{!-- Desde aqui se pone todo el contenido --}}


                    

                


            
            
            
            


   

































